In [3]:
import pandas as pd
import sqlite3 as db
import requests
import numpy as np
# from ydata_profiling import ProfileReport
# import sweetviz as sv
# from autoviz.AutoViz_Class import AutoViz_Class

In [ ]:
raw_df = pd.read_csv('./data/filevine_case_study_justice - train set_source data set.csv')
raw_df.info()

In [ ]:
import pandas as pd

left_table = pd.read_csv('./data/entity_df.csv')
right_table = pd.read_csv('./data/oyez_judges_advocates_question_conclusion.csv')

joined_table = pd.merge(left_table, right_table, on='href')

joined_table.to_csv('./data/full_training_set.csv')

In [ ]:
settings = {
    "index_defaults": {
        "model": "full_filevine_docs_whole",
        "model_properties": {
            "name": "nlpaueb/legal-bert-base-uncased",
            "dimensions": 512,
            "type": "hf",
        },
    },
}

In [ ]:
settings['index_defaults']

In [ ]:
import pandas as pd
df = pd.read_csv('./data/full_training_set.csv')
df.columns

In [ ]:
joined_table.describe()

In [ ]:
joined_table.info()

In [ ]:
raw_df['issue_area'].unique()

In [ ]:
sw_df = raw_df[raw_df['first_party_winner'].notna()]
sw_report = sv.analyze(sw_df,'first_party_winner')
sw_report.show_html('sw_targ_var_report.html')

In [ ]:
profile = ProfileReport(raw_df, title="FV Train Set Report")
profile.to_file("train_set_report.html")

In [ ]:
raw_df.isnull().sum().sum()

In [ ]:
raw_df.isna().sum().sum()

In [ ]:
raw_df[raw_df.isna().any(axis=1)]

In [ ]:
raw_df.groupby('term').count().ID

In [ ]:
raw_df['term'].value_counts().plot(kind='barh')

In [ ]:
raw_df.head(10)

In [ ]:
raw_df['first_party_winner'].describe()

In [ ]:
raw_df['first_party_winner'].describe()

In [ ]:
raw_df['first_party_winner'].value_counts(dropna=False)

In [ ]:
name_dupes = raw_df[raw_df.duplicated(subset='name', keep=False)]
print(name_dupes.to_markdown())

In [ ]:
name_dupes[name_dupes['first_party_winner'].isna()]

In [ ]:
raw_df[raw_df['first_party_winner'].isna()]

In [ ]:
raw_df.groupby('first_party_winner').count()

In [ ]:
raw_df.issue_area.describe()

In [ ]:
raw_df.issue_area.value_counts()

In [ ]:
raw_df.groupby(['first_party_winner', 'issue_area']).count().ID

In [ ]:
raw_df['decision_type'].unique()

In [ ]:
raw_df['disposition'].unique()

In [ ]:
raw_df['href']

In [ ]:
raw_df['term'].describe()

In [ ]:
raw_df.term.value_counts(dropna=False).sort_values()

In [ ]:
raw_df.describe()

In [ ]:
raw_df.hist()

In [ ]:
# df = json_normalize(response.json())

In [ ]:
raw_df['href']

In [ ]:
raw_df['first_party'].value_counts(dropna=False)

In [ ]:
raw_df[raw_df['first_party'].isna()]

In [ ]:
raw_df['second_party'].value_counts(dropna=False)

In [ ]:
raw_df[raw_df['second_party'].isna()]

In [ ]:
raw_df.href.str.len().value_counts()

In [ ]:
raw_df[raw_df.href.str.len() == 41]

In [ ]:
AV = AutoViz_Class()
df = AV.AutoViz("filevine_case_study_justice - train set_source data set.csv")

In [ ]:
df = pd.read_csv('./data/full_training_set.csv')
df.columns

In [ ]:
df['judges'].info()

In [ ]:
df['judges'].apply(lambda x: x.split(';'))

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

df0 = pd.DataFrame(mlb.fit_transform(df['judges'].apply(lambda x: x.split(';'))),columns=mlb.classes_, index=df.href)

In [ ]:
df0

In [ ]:
df = pd.merge(df, df0, how='inner', on='href')

In [ ]:
df0.describe()

In [ ]:
df0.info()

In [ ]:
df1 = pd.DataFrame(mlb.fit_transform(df[['lower_court']]),columns=mlb.classes_, index=df.href)

In [ ]:
pd.get_dummies(df[['href', 'lower_court']], columns=['lower_court', ])

In [ ]:
pd.DataFrame(mlb.fit_transform(df[['href', 'judges']]['judges'].apply(lambda x: x.split(';'))),columns=mlb.classes_, index=df.href)

In [ ]:
df_encoded

In [4]:
raw_df = pd.read_csv('./data/full_one_hot_encoded.csv')

In [ ]:
raw_df.columns

In [ ]:
raw_df.info

In [ ]:
pd.set_option('display.max_columns', None)
raw_df.head()

In [5]:
raw_df['facts'][0]

'<p>On October 10, 1980, an Oklahoma City police officer shot and killed Albert Tuttle outside a bar. Rose Marie Tuttle, Albert’s widow, sued the police officer and the city in district court under Section 1983 of the Civil Rights Act of 1871, which allows an individual to recover damages against a party who “acting under color of state law” deprives another of his constitutional rights. The district court instructed the jury that the city could be held liable only if the incident had been caused by a municipal “policy,” but a single, unusually excessive use of force could support a finding that the city was grossly negligent or deliberately indifferent in the training or supervision of its police force and was therefore liable under Section 1983. The jury returned a verdict in favor of the police officer but against the city and awarded Tuttle’s estate $1.5 million in damages. The U.S. Court of Appeals for the Tenth Circuit affirmed.</p>\n'

In [7]:
from spacy.lang.en import English

nlp = English()
nlp.add_pipe('sentencizer')
doc = nlp(raw_df['facts'][0])
sentences = [sent.text.strip() for sent in doc.sents]

In [8]:
sentences

['<p>On October 10, 1980, an Oklahoma City police officer shot and killed Albert Tuttle outside a bar.',
 'Rose Marie Tuttle, Albert’s widow, sued the police officer and the city in district court under Section 1983 of the Civil Rights Act of 1871, which allows an individual to recover damages against a party who “acting under color of state law” deprives another of his constitutional rights.',
 'The district court instructed the jury that the city could be held liable only if the incident had been caused by a municipal “policy,” but a single, unusually excessive use of force could support a finding that the city was grossly negligent or deliberately indifferent in the training or supervision of its police force and was therefore liable under Section 1983.',
 'The jury returned a verdict in favor of the police officer but against the city and awarded Tuttle’s estate $1.5 million in damages.',
 'The U.S. Court of Appeals for the Tenth Circuit affirmed.</p>']

In [16]:
def make_sentences(txt):
    nlp = English()
    nlp.add_pipe('sentencizer')
    doc = nlp(txt)
    sentences = [sent.text.strip() for sent in doc.sents]
    return sentences

In [28]:
make_sentences(raw_df[[['facts'][0])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (4158571701.py, line 1)

In [19]:
sentences = raw_df['facts'].apply(lambda txt: make_sentences(txt))

In [27]:
sentences.str.len().min()

1

In [29]:
df[0:3]

NameError: name 'df' is not defined

In [30]:
import pandas as pd

raw_df = pd.read_csv('./data/final_cleaned.csv')

In [36]:
raw_df

,Unnamed: 0,href,term,facts_len,majority_vote,minority_vote,first_party_winner,issue_area,first_party_entity,second_party_entity,...,sim3_facts_vector,sim3_issue_area_vector,sim3_legal_question_vector,sim3_conclusion_vector,sim3_href,sim3_facts_score,sim3_issue_area_score,sim3_legal_question_score,sim3_conclusion_score,sim0_conclusion_vector
0,0,https://api.oyez.org/cases/1984/83-1919,1984,952,7,1,True,civil rights,GPE,PERSON,...,NaN,NaN,NaN,NaN,NaN,0.864617,1.0,0.875497,0.907017,NaN
1,1,https://api.oyez.org/cases/2009/08-1332,2009,1494,9,0,True,criminal procedure,GPE,PERSON,...,NaN,NaN,NaN,NaN,NaN,0.869906,1.0,0.880950,0.902657,NaN
2,2,https://api.oyez.org/cases/1976/75-1150,1976,430,5,4,True,economic activity,GPE,GPE,...,NaN,NaN,NaN,NaN,NaN,0.860078,1.0,0.897425,0.884804,NaN
3,3,https://api.oyez.org/cases/1977/77-404,1977,162,7,2,True,economic activity,NaN,GPE,...,NaN,NaN,NaN,NaN,NaN,0.858339,1.0,0.913134,0.892189,NaN
4,4,https://api.oyez.org/cases/2004/03-1601,2004,1094,9,0,True,civil rights,GPE,PERSON,...,NaN,NaN,NaN,"[0.0029212855733931065, -0.0003573569701984524...",NaN,0.877462,1.0,0.880031,0.903994,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2692,2692,https://api.oyez.org/cases/2014/13-628,2014,1143,6,3,False,miscellaneous,PERSON,ORG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,2693,https://api.oyez.org/cases/1992/92-94,1992,972,5,4,True,first amendment,PERSON,ORG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,2694,https://api.oyez.org/cases/2015/14-1418,2015,1388,8,0,True,first amendment,PERSON,ORG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,2695,https://api.oyez.org/cases/2006/05-1508,2006,1236,5,4,False,judicial power,ORG,ORG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2696,2696,https://api.oyez.org/cases/1977/76-1484,1977,692,5,3,True,criminal procedure,PERSON,ORG,...,NaN,NaN,NaN,"[0.021846678107976913, -0.0024025090970098972,...",NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
a = raw_df[0:3]

In [35]:
a

,Unnamed: 0,href,term,facts_len,majority_vote,minority_vote,first_party_winner,issue_area,first_party_entity,second_party_entity,...,sim3_facts_vector,sim3_issue_area_vector,sim3_legal_question_vector,sim3_conclusion_vector,sim3_href,sim3_facts_score,sim3_issue_area_score,sim3_legal_question_score,sim3_conclusion_score,sim0_conclusion_vector
0,0,https://api.oyez.org/cases/1984/83-1919,1984,952,7,1,True,civil rights,GPE,PERSON,...,NaN,NaN,NaN,NaN,NaN,0.864617,1.0,0.875497,0.907017,NaN
1,1,https://api.oyez.org/cases/2009/08-1332,2009,1494,9,0,True,criminal procedure,GPE,PERSON,...,NaN,NaN,NaN,NaN,NaN,0.869906,1.0,0.880950,0.902657,NaN
2,2,https://api.oyez.org/cases/1976/75-1150,1976,430,5,4,True,economic activity,GPE,GPE,...,NaN,NaN,NaN,NaN,NaN,0.860078,1.0,0.897425,0.884804,NaN

In [1]:
import pandas as pd

df = pd.read_csv('./data/final_script.csv')

In [3]:
df.describe()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,ID,minority_vote,sim1_facts_score,sim1_issue_area_score,sim1_legal_question_score,sim1_conclusion_score,sim2_facts_score,sim2_issue_area_score
count,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000,2697.000000
mean,1348.000000,1348.000000,1348.000000,1348.000000,1653.994067,56355.736374,2.171301,0.891298,0.993267,0.886249,0.883740,0.884497,0.993107
std,778.701162,778.701162,778.701162,778.701162,962.684940,3640.094799,23.878920,0.017172,0.031918,0.034831,0.038310,0.012953,0.032408
min,0.000000,0.000000,0.000000,0.000000,0.000000,50606.000000,0.000000,0.825752,0.841592,0.825512,0.826428,0.825445,0.839778
25%,674.000000,674.000000,674.000000,674.000000,809.000000,54289.000000,0.000000,0.881188,1.000000,0.843087,0.828414,0.876807,1.000000
50%,1348.000000,1348.000000,1348.000000,1348.000000,1662.000000,55271.000000,2.000000,0.888613,1.000000,0.891971,0.898532,0.883745,1.000000
75%,2022.000000,2022.000000,2022.000000,2022.000000,2487.000000,59478.000000,3.000000,0.898856,1.000000,0.910318,0.911055,0.891416,1.000000
max,2696.000000,2696.000000,2696.000000,2696.000000,3302.000000,63335.000000,1239.000000,0.996594,1.000000,1.000000,1.000000,0.953390,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2697 entries, 0 to 2696
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0.3               2697 non-null   int64
 1   Unnamed: 0.2               2697 non-null   int64
 2   Unnamed: 0                 2697 non-null   int64
 3   Unnamed: 0.1               2697 non-null   int64
 4   Unnamed: 0_x               2697 non-null   int64
 5   ID                         2697 non-null   int64
 6   name                       2697 non-null   object
 7   href                       2697 non-null   object
 8   docket                     2687 non-null   object
 9   term                       2697 non-null   object
 10  first_party                2696 non-null   object
 11  second_party               2696 non-null   object
 12  facts                      2697 non-null   object
 13  facts_len                  2697 non-null   object
 14  majority_vote              2697 non-null   object
 15  minority_vote              2697 non-null   int64
 16  first_party_winner         2685 non-null   object
 17  decision_type              2692 non-null   object
 18  disposition                2638 non-null   object
 19  issue_area                 2584 non-null   object
 20  first_party_entity         2624 non-null   object
 21  second_party_entity        2610 non-null   object
 22  Unnamed: 0_y               2697 non-null   object
 23  judges                     2697 non-null   object
 24  lower_court                2697 non-null   object
 25  legal_question             2697 non-null   object
 26  conclusion                 2697 non-null   object
 27  facts_clean                2697 non-null   object
 28  sim1_facts_score           2697 non-null   float64
 29  sim1_issue_area_score      2697 non-null   float64
 30  sim1_legal_question_score  2697 non-null   float64
 31  sim1_conclusion_score      2697 non-null   float64
 32  sim2_facts_score           2697 non-null   float64
 33  sim2_issue_area_score      2697 non-null   float64
 34  sim1_facts_href            2697 non-null   object
 35  sim2_facts_href            2697 non-null   object
 36  sim1_issue_area_href       2697 non-null   object
 37  sim2_issue_area_href       2697 non-null   object
 38  sim1_legal_question_href   2697 non-null   object
 39  sim1_conclusion_href       2697 non-null   object
dtypes: float64(6), int64(7), object(27)
memory usage: 842.9+ KB